
  body{
    background-color: #EEEEEE;
}
header img {
    width: 10%;
    border-radius: 50%;
    z-index: 1;
}
nav{
  margin-top: -6%;
  padding-bottom: 20%;
  margin-bottom: 20%;
}
h2{
    font-size: 400%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-family: 'Lobster', cursive;
}
nav ul li {
    display: inline-block;
   float: left;
   margin-left: 9%;
   padding: -10%; 
   display: inline;
   float: left;
} 
ul{
  padding-bottom: 20%;
  margin-bottom: 20%;
}
header  {
margin-top: -1%;
vertical-align: text-top; 
background-color: #035397;
height: 110px;
margin-left: -1%;
margin-right: -1%;
height: 130px;
padding-bottom: 1%;
}
li a {
  color: blue;
  text-align: center;
  text-decoration: none;
  margin-top: 0%;
  padding-top: 2%;
  margin-bottom: 0%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
      transition: 1s;
      width: 150%;
      display: inline block;
      float: right;
      background-color: #D8E3E7;
      border-radius: 15px 50px 30px;
      padding: 9px 15px;
      font-family: 'Lobster', cursive;

      margin-top: 15%;
    }
  ul {
    padding-left: 9%;
      position: sticky;
    top: 0%;
    margin-bottom: 13%;
    padding-left: 8%;
    overflow: hidden;
    background-position: center;
    border-right: none; 
    margin-top: -7%;

  } 
  a:hover {
    z-index: -1;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,1);
    padding: 14px 25px;
    background-color:#bad4fa ;
    font-size: 110%;
  } 
  footer center{
    margin-bottom: 0%;
    margin-top: 0%;
  }
  footer input{
    width: 5%;
    border-radius: 50%;
    margin: 1%;
  }
  footer form{
    display: inline;
  }
  footer{
    background-color: #035397;
  margin-top: 333%
  }
  footer p{
    color:#D8E3E7 ;
    padding-bottom: 10px;  
  font-family: cursive;
  }
  img{
      width: 100%;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
margin: 1%;
    border: solid black  5px;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,1);
  }
  .container {
    padding: 2px 16px;
    border:groove black 3px;}
    @keyframes example {
      0%   { left:0px; top:0px;}
      25%  { left:200px; top:0px;}
      50%  { left:200px; top:200px;}
      75%  { left:0px; top:200px;}
      100% { left:0px; top:0px;}
    }
    .main {
      height: 100px;
      position: relative;
      animation-name: example;
      animation-duration:20s;
    } 
    .MeetTheteam
    {    height: 100px;
      position: relative;
      animation-name: exam;
      animation-duration:20s;
    width: 50%;
    border-radius: 4px 82px 1px;
    background-color: yellow;
}
@keyframes exam {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }