/* for the header */
.logo{
    width: 10%;
   border-radius: 50%;
   z-index: 1;
  }
  .gbvfbf{
  margin-top: -6%;
  padding-bottom: 20%;
  margin-bottom: 20%;
  }
  .navulli {
    float: left;
    margin-left: 4%;
    padding-left: 0%; 
    display: inline;
  } 
  .jhgfd{
    padding-bottom: 0%;
    /* margin-bottom: 20%; */
    padding-left: 9%;
    position: sticky;
    top: 0%;
    margin-bottom: 2%;
    padding-left: 50%;
    overflow: hidden;
    background-position: center;
    border-right: none; 
    margin-top: -7%;
  }
  .headerujmhn  {
  margin-top: -1%;
  vertical-align: text-top; 
  background-color: #035397;
  height: 110px;
  margin-left: 0%;
  margin-right: 0%;
  height: 130px;
  padding-bottom: 1%;

  }
  .jhgfd{
    /* font-family: 'Lobster', cursive;    */

  }
  .ulol{
    color: blue;
    text-align: center;
    text-decoration: none;
    margin-top: 0%;
    padding-top: 2%;
    margin-bottom: 0%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
        transition: 1s;
        width: 150%;
        display: inline block;
        float: right;
        background-color: #D8E3E7;
        border-radius: 15px 50px 30px;
        padding: 9px 15px;
        text-shadow: 0px 0px 1.2px blue;
        color:black;
        /* font-family: 'Lobster', cursive;    */
        width: 80%; 
   }
  .ulol:hover {
   z-index: -1;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,1);
   padding: 14px 25px;
   background-color:#bad4fa ;
   font-size: 110%;
  } 
  .footer-input{
   width: 5%;
   border-radius: 50%;
   margin: 1%;
  }
  .g{
   display: inline;
   margin-bottom: 0%;
  }
  .footer{
   background-color: #035397;
   margin-bottom: -3%;
   margin-top: 19%;
   margin-left: 0%;
   margin-right: 0%;
  }
  .pra{
   color:#D8E3E7 ;
   padding-bottom: 10px;  
  font-family: cursive;
  }
  .kl {
     margin-bottom: 0%;
     margin-top: 0%;
  }

  /* style vor vedio */
  #vidcar{
  width:80%;
   height:70%;
   margin-left: 11%;
   margin-top: 2%;
   border-radius: 15px 50px 30px;
   
}

/* style for form  */
form{
    margin-top: 2%;
    text-align: center;
    
}
fieldset{
    width: 30%;
     height: 30%; 
    text-align: center; 
     margin-left: 33%;
     border-radius: 10%;
     border: 19px outset #035397; 
     margin-left: 34%;


}
 

 select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }



  #inputButton li {
      display: inline-block;
  }
 
   #Chart, #showbuy ,#reset,#clearCart  {
    width: 100%;
    background-color: #D8E3E7;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 50%);
    font-family: 'Lobster', cursive;
    color: #00f;
    padding: 14px 20px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    margin: 8px 0;

  }



  /* style for show all ul */
  .firstul{

    display: inline-block;  
    list-style-type: none;
    margin: 20px;
    text-align: center;
    align-items: center;
    
}


/* style for show all div */

 #showall{

        padding-right: 2%;
        padding-left: 2%;
        text-align: center;
        /* list-style-type: none; */
        margin-top: 0%;
        font-family: 'Lobster', cursive;
        margin: 6%;
        padding-right: 2%;
        padding-left: 2%;
    
    
        text-align: center;
        text-decoration: none;
        margin-top: 0%;
        padding-top: 2%;
        margin-bottom: 0%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
        border-radius: 15px 50px 30px;
       padding: 9px 15px;
       font-family: 'Lobster', cursive;
       background-color: rgba(243, 236, 236, 0.541);


  } 


.classimg{
    list-style-type: none;
    text-align: center;
    font-family: 'Lobster', cursive;


}
.secondul{
    list-style-type: none;
    font-family: 'Lobster', cursive;
}


.styleimg{

    align-items: center;
    padding-left: 20px;
    text-align: center;
    text-decoration: none;
    margin-top: 0%;
    padding-top: 2%;
    margin-bottom: 0%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,1);
    border-radius: 15px 50px 30px;
   padding: 9px 15px;
   background-color: #D8E3E7;

}
.firstul:hover{
  
    transform: scale(1.1);
    filter: brightness(130%);
}
 .phar{
font-size: 20px;
font-family: 'Lobster', cursive;
}

#buy{

    width: 20%;
    background-color: #D8E3E7;
    color: #00f;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size:120%;
    text-align: center;
    justify-content: center;
    
}
#cars{

    text-align: center;
    
}
hr{
    margin-top: 5%;
}

center{
    margin-bottom: 0%;
}

.phar{
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}