
main{
    background-color: whitesmoke;
}

form{
    margin-top: 2%;
    text-align: center;
    
}
fieldset{

    width: 30%;
     height: 30%; 
    text-align: center; 
     margin-left: 33%;
}
 
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  
  #inputButton li {
    display: inline-block;
}

 
  #Chart, #showbuy ,#reset ,#clearCart  {
    width: 30%;
    background-color: #D8E3E7;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 50%);
    font-family: 'Lobster', cursive;
    color: #00f;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 40px;
    cursor: pointer;
  }
  


#showRent {
    width: 30%;
    background-color: #D8E3E7;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 50%);
    font-family: 'Lobster', cursive;
    color: #00f;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}
#showRent:hover,#reset:hover,#clearCart:hover{
    background-color: rgb(30, 207, 238);
    transition-duration: 350ms;
    color:black;
}



.firstul{

    display: inline-block;
    list-style-type: none;
    margin: 20px;
    text-align: center;
    align-items: center;
     width: 300px;
    height: 300px; 

}




#showall{
    margin: 6%;
    padding-right: 2%;
    padding-left: 2%;


    text-align: center;
    text-decoration: none;
    margin-top: 0%;
    padding-top: 2%;
    margin-bottom: 0%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    border-radius: 15px 50px 30px;
   padding: 9px 15px;
   font-family: 'Lobster', cursive;

}


.styleimg{

    align-items: center;
    padding-left: 20px;


    text-align: center;
    text-decoration: none;
    margin-top: 0%;
    padding-top: 2%;
    margin-bottom: 0%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,1);
    border-radius: 15px 50px 30px;
   padding: 9px 15px;

   background-color: #D8E3E7;
   
} */
.classimg{
    list-style-type: none;
    text-align: center;
    

}

.firstul:hover{

    transform: scale(1.5);
}

ul{

    list-style-type: none;
    
}

#cars{


    text-align: center;
}




#rent{

    width: 20%;
    background-color: #D8E3E7;
    color: #00f;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size:120%;
    text-align: center;
    justify-content: center;
 

}



#rent:hover{

    width: 20%;
    background-color: black;
    color: red;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size:120%;
    text-align: center;
    justify-content: center;
    transform: scale(1.3);

}





.imgbuy{
    text-align: center;
    text-decoration: none;
    margin-top: 0%;
    padding-top: 2%;
    margin-bottom: 0%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,1);
    border-radius: 15px 50px 30px;
   padding: 9px 15px;
   font-family: 'Lobster', cursive;
}











.logo{
    width: 10%;
   border-radius: 50%;
   z-index: 1;
  }
  .gbvfbf{
  margin-top: -6%;
  padding-bottom: 20%;
  margin-bottom: 20%;
  }
  .navulli {
  float: left;
  margin-left: 9%;
  padding: -10%; 
  display: inline;
  } 
  .jhgfd{
  padding-bottom: 20%;
  margin-bottom: 20%;
  padding-left: 9%;
  position: sticky;
  top: 0%;
  margin-bottom: 13%;
  padding-left: 8%;
  overflow: hidden;
  background-position: center;
  border-right: none; 
  margin-top: -7%;
  }
  
  .headerujmhn  {
  margin-top: -1%;
  vertical-align: text-top; 
  background-color: #035397;
  height: 110px;
  /* margin-left: -1%;
  margin-right: -1%; */
  height: 130px;
  padding-bottom: 1%;
  }
  
  .ulol{
  color: blue;
  text-align: center;
  text-decoration: none;
  margin-top: 0%;
  padding-top: 2%;
  margin-bottom: 0%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
     transition: 1s;
     width: 150%;
     float: right;
     background-color: #D8E3E7;
     border-radius: 15px 50px 30px;
     padding: 9px 15px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     margin-top: 15%;
   }
   
  .ulol:hover {
   z-index: -1;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,1);
   padding: 14px 25px;
   background-color:#bad4fa ;
   font-size: 110%;
  } 
  .footer-input{
   width: 5%;
   border-radius: 50%;
   margin: 1%;
  }
  .g{
   display: inline;
   margin-bottom: 0%;
  }
  .footer{
   background-color: #035397;
   margin-bottom: -3%;
   margin-top: 19%;
   /* margin-left: -1%;
   margin-right: -1%; */
  }
  .pra{
   color:#D8E3E7 ;
   padding-bottom: 10px;  
  font-family: cursive;
  }
  .kl {
     margin-bottom: 0%;
     margin-top: 0%;
  } 