
  body{
    background-color: #EEEEEE;
}
header img {
    width: 10%;
    border-radius: 50%;
    z-index: 1;
}
nav{
  margin-top: -6%;
  padding-bottom: 20%;
  margin-bottom: 20%;
}
h2{
    font-size: 150%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav ul li {
    display: inline-block;
   float: left;
   margin-left: 9%;
   padding: -10%; 
   display: inline;
   float: left;
} 
ul{
  padding-bottom: 20%;
  margin-bottom: 20%;
}
header  {
margin-top: -1%;
vertical-align: text-top; 
background-color: #035397;
height: 110px;
margin-left: -1%;
margin-right: -1%;
height: 130px;
padding-bottom: 1%;
}
li a {
  color: blue;
  text-align: center;
  text-decoration: none;
  margin-top: 0%;
  padding-top: 2%;
  margin-bottom: 0%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
      transition: 1s;
      width: 150%;
      display: inline block;
      float: right;
      background-color: #D8E3E7;
      border-radius: 15px 50px 30px;
      padding: 9px 15px;
      font-family: 'Lobster', cursive;    }
  ul {
    padding-left: 9%;
      position: sticky;
    top: 0%;
    margin-bottom: 13%;
    padding-left: 8%;
    overflow: hidden;
    background-position: center;
    border-right: none; 
    margin-top: -7%;

  } 
  a:hover {
    z-index: -1;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,1);
    /* padding: 14px 25px; */
    background-color:#bad4fa ;
    font-size: 110%;
  } 
  footer input{
    width: 5%;
    border-radius: 50%;
    margin: 1%;
  }
  form{
    display: inline;
  }

fieldset{
width: 80%;
position: relative;
margin-left: 10%;
border-radius: 20%;
height: 30%;
margin-top: 5%; 
}
main div img {
    width: 80%;
position: relative;
margin-left: 0%;
border-radius: 20%;
}
h2 {
    margin-top: 8%;
    text-align: center;
    font-family: 'Lobster', cursive;  
    color: black;

}

#BBuy {
    margin-right: 60%;
    text-align:left;
    color: black;
    background-color: red;

}
#Buy{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,1);
    color: black;
    background-color: red;
    margin-left: 70%;
    text-align:right;
    margin-bottom: 20%; 
}  
@keyframes example {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}
      .carsBoo1{
        margin-top: 6%;
        padding: 2%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
        transition: 1s;
        width: 33%;
        display: inline block;
        float: left;
        border-radius: 15px 50px 30px;
        background-color: #035397;
        animation-name: example;
        animation: example 5s infinite;


    }
      .carsBoo1:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,1);
      }
      .Class2 {
        padding: 25px 16px;
      }

      @keyframes example {
        0%   {background-color: red;}
        25%  {background-color: yellow;}
        50%  {background-color: blue;}
        100% {background-color: green;}
      }
    
      .carsBoo{
        margin-top: 6%;
        padding: 2%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
        transition: 1s;
        width: 35%;
        display: inline block;
        float: right;
        border-radius: 15px 50px 30px;
        background-color: #035397;
        animation-name: example;
        animation: example 5s infinite;
    }
      .carsBoo:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,1);
      }
      .Class2 {
        padding: 25px 16px;
      }

.Class2{
    font-family: 'Lobster', cursive;   
                     animation: blinker 2s linear infinite;
                     font-size: 200%;
                     text-align: center;
      }
      
      
      @keyframes blinker {
        50% {
            font-family: 'Oswald', sans-serif;
        }
      
      } 
  
  footer input{
    width: 5%;
    border-radius: 50%;
    margin: 1%;
  }
  form{
    display: inline;
  }
  footer{
    background-color: #035397;
    margin-right: -2%;
    margin-left: -4%;

  }
  footer p{
    color:#D8E3E7 ;
    padding-bottom: 10px;  
  font-family: cursive;
  font-size: 70%;
  }
  footer{
    display:flex ;
    margin-top: 60%;
    justify-content: center;
  
}
  