
  body{
    background-color: whitesmoke;
}
header img {
    width: 10%;
    border-radius: 50%;
    z-index: 1;
}

fieldset div .text{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 200%;
font-weight: bolder;
}

p{


  text-align: justify;
}

nav{
  margin-top: -6%;
  padding-bottom: 20%;
  margin-bottom: 20%;
}
h2 p{
  font-size: 35px;
  font-family: 'Lobster', cursive;   


  
  text-align: center;
  margin-top:3%;
  margin-bottom: 3%;
  text-shadow: 1.5px 0px 0px black;
    color:black;
    text-shadow: 0px 0px 1.2px blue;
    color:black;
    

}
nav ul li {
    display: inline-block;
   margin-left: 3%;
   padding: -10%; 
   display: inline;
   float: left;
} 
ul{
  padding-bottom: 20%;
  margin-bottom: 20%;
}
header  {
margin-top: -1%;
vertical-align: text-top; 
background-color: #035397;
height: 110px;

height: 130px;
padding-bottom: 1%;
}
li a {
  color: blue;
  text-align: center;
  text-decoration: none;
  margin-top: 0%;
  padding-top: 2%;
  margin-bottom: 0%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
      transition: 1s;
      width: 150%;
      display: inline block;
      float: right;
      background-color: #D8E3E7;
      border-radius: 15px 50px 30px;
      padding: 9px 15px;
      text-shadow: 0px 0px 1.2px blue;
      color:black;
      /* font-family: 'Lobster', cursive;    */
      width: 80%;
}
  ul {
    padding-left: 9%;
      position: sticky;
    top: 0%;
    margin-bottom: 13%;
    padding-left: 50%;
    overflow: hidden;
    background-position: center;
    border-right: none; 
    margin-top: -7%;
    /* width: 70%; */
  

  } 
  a:hover {
    z-index: -1;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,1);
    /* padding: 14px 25px; */
    background-color:#bad4fa ;
    font-size: 110%;
  } 

  footer p{
    color:#D8E3E7 ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
  font-size: 100%;
  text-align: center

  }

  footer input{
    width: 5%;
    border-radius: 50%;
    margin: 1%;
  }
  form{
    display: inline;
  }

fieldset{
width: 80%;
position: relative;
margin-left: 10%;
border-radius: 20%;
height: 30%;
margin-top: 5%; 
}
main div img {
    width: 80%;
position: relative;
margin-left: 0%;
border-radius: 20%;
}
h2 {
    margin-top: 8%;
    text-align: center;
    font-family: 'Lobster', cursive;  
    color: black;

}

#BBuy {
    margin-right: 60%;
    text-align:left;
    color: black;
    background-color: red;

}
#Buy{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,1);
    color: black;
    background-color: red;
    margin-left: 70%;
    text-align:right;
    margin-bottom: 20%; 
}  

      .carsBoo1{
        margin-top: 6%;
        padding: 2%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
        transition: 1s;
        width: 33%;
        display: inline block;
        float: left;
        border-radius: 15px 50px 30px;
        background-color: #035397;
        animation-name: example;
        animation: example 5s infinite;
        margin-left: 8%;


    }
      .carsBoo1:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,1);
      }
      .Class2 {
        padding: 25px 16px;
      }

      .carsBoo1:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,1);
        background-color: rgb(3,83,151,0.7);
      }
    
      .carsBoo{
        margin-top: 6%;
        padding: 2%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
        transition: 1s;
        width: 35%;
        display: inline block;
        float: right;
        border-radius: 15px 50px 30px;
        background-color: rgb(3,83,151);
        animation-name: example;
        animation: example 5s infinite;
        margin-right: 8%;
    }
      .carsBoo:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,1);

        background-color: rgb(3,83,151,0.7);

      }
      .Class2 {
        padding: 25px 16px;
      }

.Class2{
    font-family: 'Lobster', cursive;   
                     animation: blinker 2s linear infinite;
                     font-size: 200%;
                     text-align: center;
      }
      
      
 
  
  footer input{
    width: 5%;
    border-radius: 50%;
    margin: 1%;
  }
  form{
    display: inline;
  }
  footer{
    background-color: #035397;
 

  }
  footer p{
    color:#D8E3E7 ;
    padding-bottom: 10px;  
  font-family: cursive;
  font-size: 70%;
  }
  footer{
    display:flex ;
    margin-top: 60%;
    justify-content: center;
  
}
  

.kkk{
  width: 70%;
  font-size: 150%;
}
div p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}