#submit{
    text-align: center;
}

th, td{
    padding-left: 15pt;
    padding-right: 15pt;
    padding-top: 5pt;
    padding-bottom: 5pt;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(43, 73, 119);
    }
    
    th{
        font-weight: bold;
    }
    
    table{
        margin: 5%;
        margin-left: 20%;
        margin-right: 20%;

    }

    #cart-container{
        display: flex;
        flex-direction: column;
    }
    
    #submit{
    margin-top: 8%;
        /* margin-left: 40%; */
        color:black;

        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      }

    #location{
        margin-left: 2%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color:black;

    }

    button {
        background-color: #f02a2a;
               border: none;
               color: white;
               /* padding: 16px 32px; */
               text-decoration: none;
               margin: 4px 2px;
               cursor: pointer;
               border-radius: 10%;
}

    button#submit {
        background-color: #4CAF50;
               border: none;
               color: white;
               padding: 16px 32px;
               text-decoration: none;
               margin: 4px 2px;
               cursor: pointer;
               font-size: large;
               font-weight: 500;
}

button#clearall {
    background-color: #f02a2a;
           border: none;
           color: white;
           padding: 16px 32px;
           text-decoration: none;
           margin: 4px 2px;
           cursor: pointer;
           margin-left: 42.5%;
           margin-right: 42.5%;
           width: 15%;
           font-size: large;
           font-weight: 500;
}
input{
                /* width: 100%; */
                padding: 12px 20px;
                margin-left: 15pt;
                box-sizing: border-box;
                border: 3px solid #ccc;
                -webkit-transition: 0.5s;
                transition: 0.5s;
                outline: none;
                border-radius: 10px;
}

h1#cartText{
    text-align: center;
    margin-top: 3%;
    font-size: 20px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}

li.liCart{
    text-align: center;
    margin-bottom: 1%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
    text-shadow: 0px 0px 1.2px blue;
    color:black;

  }

footer form{
    display: inline;
  }
  footer{
    background-color: #334257;
  /* margin-top: 333% */
  margin-bottom: 0%;
  padding-bottom: 0%;
  }
  footer p{
    color:#EEEEEE ;
    padding-bottom: 10px;  
  font-family: cursive;
  }

  footer center{
      margin-top: 13%;
  }

  footer input{
    width: 5%;
    border-radius: 50%;
    margin: 1%;
  }


  
  header img {
    width: 10%;
    border-radius: 50%;
    z-index: 1;
}
nav{
  margin-top: 2%;
  padding-bottom: 20%;
  margin-bottom: 20%;
}
h2{
    font-size: 150%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav ul li {
    display: inline-block;
   float: left;
   margin-left: 9%;
   padding: -10%; 
   display: inline;
   float: left;
} 
ul{
  padding-bottom: 20%;
  margin-bottom: 20%;
}
header  {
    padding-bottom: 1%;
margin-top: -1%;
vertical-align: text-top; 
background-color: #035397;
height: 110px;

height: 130px;
}
li a {
  color: blue;
  text-align: center;
  text-decoration: none;
  margin-top: 0%;
  padding-top: 2%;
  margin-bottom: 0%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
      transition: 1s;
      width: 150%;
      display: inline block;
      float: right;
      background-color: #D8E3E7;
      border-radius: 15px 50px 30px;
      padding: 9px 15px;
      text-shadow: 0px 0px 1.2px blue;
      color:black;
      font-family: 'Lobster', cursive;   
      }
  ul {
    padding-left: 9%;
      position: sticky;
    top: 0%;
    margin-bottom: 13%;
    padding-left: 8%;
    overflow: hidden;
    background-position: center;
    border-right: none; 
    margin-top: -7%;
  } 
  
  a:hover {
    z-index: -1;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,1);
    /* padding: 14px 25px; */
    background-color:#bad4fa ;
    font-size: 110%;
  }

body{
  background-color: whitesmoke;

}